/* Default, desktop */
html, body{
    min-width: 100%;
    margin: 0px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    color: white;
}

*:focus{
    outline: none;
}

a{
    text-decoration: none;
}

textarea{
    resize: none;
}

#main-nav{
    width: 100%;
    background-color: transparent;
    margin-top: 25px;
}

#main-nav ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#main-nav ul li{
    list-style-type: none;
    display: inline-block;
}

#main-nav ul li a{
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 700;
    display: block;
    color: white;
    margin-left: 25px;
    -webkit-transition: color 0.6s;
    -moz-transition: color 0.6s;
    -o-transition: color 0.6s;
    -ms-transition: color 0.6s;
    transition: color 0.6s;
}

#main-nav ul li a:hover{
    color: rgb(192, 192, 192);
}

#side-nav{
    position: fixed;
    z-index: 10;
    top: 25%;
    height: 300px;
    width: 30px;
    margin-left: 20px;
    visibility: hidden;
}

#side-nav ul{
    padding: 0;
    margin: 0;
}

#side-nav ul li{
    list-style-type: none;
}

#side-nav ul li a{
    color: white;
    display: block;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 700;
    font-size: 85%;
    padding-left: 8px;
    margin-top: 15px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

#side-nav ul li a.active{
    border-left: 2px solid rgba(255, 255, 255, 1);
}

#side-nav ul li a.active span{
    -webkit-animation: fadeout 1s linear 0.1s;
    -moz-animation: fadeout 1s linear 0.1s;
    -o-animation: fadeout 1s linear 0.1s;
    -ms-animation: fadeout 1s linear 0.1s;
    animation: fadeout 1s linear 0.1s;
}

#side-nav ul li a span{
    opacity: 0;
}

#side-nav ul li a:hover span{
    opacity: 1;
}

section{
    width: 100%;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home{
    background-image: url(../img/home-background.jpg);
}

#main-title{
    width: 50%;
    margin-top: 22%;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 80px;
    font-weight: 800;
    text-align: center; 
    letter-spacing: 15px;
    margin-bottom: 25%;
}

.title{
    width: 100%;
    font-weight: 800;
    text-align: center;
    letter-spacing: 15px;
    margin-top: 6%;
    font-size: 50px;
    font-family: 'Poppins', Arial, sans-serif;
}

.subtitle{
    font-weight: 700;
    text-align: center;
    letter-spacing: 5px;
    font-size: 24px;
    font-family: 'Poppins', Arial, sans-serif;
}

.centered{
    margin-left: auto;
    margin-right: auto;
}

#about{
    background-image: url(../img/about-background.jpg);
}

#about-picture{
    width: 270px;
    height: 270px;
    margin-top: 2%;
    background-image: url(../img/picture-of-myself.jpg);
    background-size: cover;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 50%;
}

#about-subtitle{
    width: 50%;
    margin-top: 3%;
}

#about-text{
    width: 65%;
    margin-top: 4%;
    text-align: center;
    font-size: 18px;
}

.more-info{
    width: 100%;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 9%;
}

.more-info a{
    width: 240px;
    font-weight: 400;
    display: block;
    color: black;
    padding: 7px 0px;
    margin-top: 5px;
    background-color: white;
    border-radius: 30px;
    -webkit-transition: background-color 0.6s;
    -moz-transition: background-color 0.6s;
    -o-transition: background-color 0.6s;
    -ms-transition: background-color 0.6s;
    transition: background-color 0.6s;
}

.more-info a:hover{
    background-color: rgb(168, 168, 168);
}

#experience{
    background-image: url(../img/experience-background.jpg);
}

#experience-content-wrapper{
    position: relative;
    width: 70%;
    height: 860px;
    top: 120px;
    margin-bottom: 20%;
}

#experience-timeline-wrapper{
    height: 585px;
    width: 15px;
}

.circle{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
}

/* Applies bottom margin space to all circles but last one, creating a space between them. */
.circle:not(:last-child){
    margin-bottom: 270px;
}

.vertical-line{
    width: 4px;
    height: 0%;
    background-color: rgb(146, 146, 146);
    margin-top: -855px;
}

.experience-content{
    font-family: 'Poppins', Arial, sans-serif;
    position: relative;
    top: -68.5%;
    width: 46%;
    height: 285px;
}

.left{
    text-align: right;
}

.right{
    left: 54%;
    text-align: left;
}

.experience-details{
    display: block;
    width: 100%;
    padding: 5px 0px;
}

.experience-details ul{
    margin: 0;
    padding: 0;
    padding-left: 15px;
}

.job-date{
    font-size: 105%;
    font-weight: 700;
    padding: 0;
}

.job-title{
    font-size: 120%;
    color: rgb(206, 207, 212);
    font-weight: 700;
}

.job-location{
    color: rgb(212, 213, 219);
    font-weight: 600;
}

.job-description{
    font-family: 'Open Sans', Tahoma, sans-serif;
}

#skills{
    background-image: url(../img/skills-background.jpg);
}

#skills-subtitle{
    width: 60%;
    margin-top: 30px;
}

#skills-content-wrapper{
    height: 650px;
    width: 70%;
    margin-top: 6%;
    margin-left: 18%;
    margin-bottom: 12%;
}

.skill-content{
    display: block;
    height: 30px;
    padding-top: 5px;
    margin-bottom: 25px;
    font-size: 14pt;
}

.skill-content .skill-title, .skill-content .skill-value{
    display: block;
}

.skill-content .skill-title{
    width: 162px;
    text-align: right;
    float: left;
    margin-top: -2.5px;
}

.skill-content .skill-value{
    width: 38px;
    margin-top: -19.5px;
}

.skill-content .skill-line-wrapper, .skill-content .skill-line-wrapper .skill-line{
    border-radius: 10px;
}

.skill-content .skill-line-wrapper{
    height: 10px;
    width: 70%;
    margin-top: 7.5px;
    margin-left: 168px;
}

.skill-content .skill-line-wrapper .skill-line{
    background-color: rgb(24, 57, 129);
    height: 100%;
}

.skill-content.sixty .skill-line-wrapper .skill-line{ width: 60%; }

.skill-content.sixty-five .skill-line-wrapper .skill-line{ width: 65%; }

.skill-content.seventy .skill-line-wrapper .skill-line{ width: 70%; }

.skill-content.eighty .skill-line-wrapper .skill-line{ width: 80%; }

.skill-content.eighty-five .skill-line-wrapper .skill-line{ width: 85%; }

.skill-content.ninety .skill-line-wrapper .skill-line{ width: 90%; }

.skill-content.ninety-five .skill-line-wrapper .skill-line{ width: 95%; }

.skill-content.sixty .skill-value{ margin-left: 60.5%; }

.skill-content.sixty-five .skill-value{ margin-left: 64%; }

.skill-content.seventy .skill-value{ margin-left: 67.5% }

.skill-content.eighty .skill-value{ margin-left: 74.5%; }

.skill-content.eighty-five .skill-value{ margin-left: 78% }

.skill-content.ninety .skill-value{ margin-left: 81.5%; }

.skill-content.ninety-five .skill-value{ margin-left: 85%; }

#projects{
    background-image: url(../img/projects-background.jpg);
}

#projects-subtitle{
    width: 50%;
    margin-top: 2%;
}

#projects-wrapper{
    width: 1050px;
    margin-top: 5%;
    height: 345px;
    margin-bottom: 15%;
}

.project-card{
    height: 345px;
    width: 500px;
    float: left;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 0 12.5px;
    filter: brightness(90%);
}

.project-card:first-child{
    background-image: url(../img/website-project-cover.png);
}

.project-card:last-child{
    background-image: url(../img/password-manager-project-cover.png);
}

.project-details{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    opacity: 0;
    font-family: 'Poppins', Arial, sans-serif;
    text-align: center;
}

.project-skills{
    position: relative;
    display: block;
    width: calc(100% - 15px);
    height: 23px;
    border-radius: 10px;
    margin-left: 15px;
    top: 13px;
    font-size: 8pt;
    font-weight: 700;
}

.project-skills .skill{
    position: relative;
    float: left;
    height: 20px;
    width: 55px;
    border-radius: 10px;
    padding-top: 3px;
    margin-right: 10px;
}

.project-skills .skill.html{ background-color: rgba(227, 76, 38, 0.7); }

.project-skills .skill.css{ background-color: rgba(86, 61, 124, 0.7); }

.project-skills .skill.js{ background-color: rgba(248, 229, 80, 0.7); }

.project-skills .skill.jquery{ background-color: rgba(106, 107, 26, 0.7); }

.project-skills .skill.java{ background-color: rgba(176, 114, 25, 0.7); }

.project-skills .skill.sql{ background-color: rgba(2, 27, 141, 0.7); }

.project-skills .skill.sqlite{ background-color: rgba(11, 88, 15, 0.7); }

.project-details .project-title{
    display: block;
    font-size: 23pt;
    margin-top: 13%;
    margin-bottom: 5%;
    letter-spacing: 2px;
}

.project-details .project-description{
    display: block;
    width: 85%;
    height: 90px;
    font-size: 12pt;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 5%;
}

.project-details .project-buttons{
    color: white;
    display: block;
    width: 180px;
    height: 30px;
    padding-top: 5px;
    border-radius: 15px;
    font-weight: 600;
    background-color: rgba(18, 51, 122, 0.8);
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.project-details .project-buttons:hover{
    background-color: rgb(33, 52, 70);
}

.project-card:hover .project-details{
    opacity: 1;
}

#download{
    background-image: url(../img/download-background.jpg);
}

#download-title{
    width: 60%;
}

#download-picture{
    margin-top: 60px;
    background-image: url(../img/cv.png);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 500px;
    border-radius: 10px;
}

#download-buttons{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 0;
    border-radius: 10px;
}

#download-buttons a{
    font-family: 'Poppins', Arial, sans-serif;
    display: block;
    text-align: center;
    width: 230px;
    background-color: rgb(24, 57, 129);
    color: white;
    padding: 7px 0px;   
    border-radius: 30px;
    position: relative;
    top: 35%;
    left: 22%;
    -webkit-transition: background-color 0.6s;
    -moz-transition: background-color 0.6s;
    -o-transition: background-color 0.6s;
    -ms-transition: background-color 0.6s;
    transition: background-color 0.6s;
}

#download-buttons a:not(:last-child){
    margin-bottom: 25%;
}

#download-buttons a:hover{
    background-color: rgb(33, 52, 70);
}

#download-picture:hover #download-buttons{
    opacity: 1;
}

.separator{
    width: 55%;
    height: 4px;
    background-color: white;
    border: none;
    margin-top: 10%;
    margin-bottom: 5%;
}

#quote-wrapper{
    width: 55%;
    margin-top: 5%;
    text-align: center;
    font-size: 150%;
    margin-bottom: 14%;
}

#quote{
    margin-bottom: 10%;
}

#contact{
    background-image: url(../img/contact-background.jpg);
}

#form-wrapper{
    width: 55%;
    height: 60%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 5%;
}

input, textarea{
    display: block;
    width: 95%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins', Courier, monospace;
    font-size: 16px;
}

input{
    height: 25px;
    padding: 10px;
}

textarea{
    height: 170px;
    padding: 12px 10px;
}

input[type=submit]{
    width: 150px;
    cursor: pointer;
    position: relative;
    top: -40px;
    height: 60px;
    background-color: white;
    color: rgb(66, 62, 62);
    font-size: 17px;
    border: none;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

input[type=submit]:hover{
    background-color: rgb(150, 146, 146);
}

#form-errors{
    position: relative;
    width: 100%;
    height: 20px;
    margin-top: -30px;
    text-align: center;
    display: none;
}

#form-errors span{
    color: rgb(252, 76, 76);
    font-weight: bold;
}

.error{
    border-color: red;
}

footer{
    width: 100%;
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: white;
    text-align: center;
    padding: 2% 0;
}

footer span{
    position: relative;
    display: block;
    font-size: 15px;
    top: 33%;
    color: black;
}

/*
    @media mediatype and (expressions){
        css...
    }

    mediatype - all, screen, print, speech

    expressions :
                    min-width
                    max-width
*/

/* smaller screens
@media screen and (max-width: 1015px){

} */



/* smartphone screens 
@media screen and (max-width: 640px){

}*/
/* TODO: menu sandwich */