/* Default, desktop */
html, body{
    height: 100%;
    margin: 0px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    color: white;
}

a{
    text-decoration: none;
}

#main-nav{
    width: 100%;
    background-color: transparent;
    margin-top: 25px;
}

#main-nav ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#main-nav ul li{
    list-style-type: none;
    display: inline-block;
}

#main-nav ul li a{
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 700;
    display: block;
    color: white;
    margin-left: 25px;
    -webkit-transition: color 0.6s;
    -moz-transition: color 0.6s;
    -o-transition: color 0.6s;
    -ms-transition: color 0.6s;
    transition: color 0.6s;
}

#main-nav ul li a:hover{
    color: rgb(192, 192, 192);
}

#side-nav{
    position: fixed;
    z-index: 10;
    top: 25%;
    height: 300px;
    width: 30px;
    margin-left: 20px;
    visibility: hidden;
}

#side-nav ul{
    padding: 0;
    margin: 0;
}

#side-nav ul li{
    list-style-type: none;
}

#side-nav ul li a{
    color: white;
    display: block;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 700;
    font-size: 85%;
    padding-left: 8px;
    margin-top: 15px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

#side-nav ul li a.active{
    border-left: 2px solid rgba(255, 255, 255, 1);
}

#side-nav ul li a.active span{
    -webkit-animation: fadeout 1s linear 0.1s;
    -moz-animation: fadeout 1s linear 0.1s;
    -o-animation: fadeout 1s linear 0.1s;
    -ms-animation: fadeout 1s linear 0.1s;
    animation: fadeout 1s linear 0.1s;
}

#side-nav ul li a span{
    opacity: 0;
}

#side-nav ul li a:hover span{
    opacity: 1;
}

section{
    width: 100%;
    height: 135%;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home{
    background-image: url(../img/home-background.jpg);
}

#main-title{
    width: 50%;
    margin-top: 22%;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 80px;
    font-weight: 800;
    text-align: center; 
    letter-spacing: 15px;
}

.title{
    width: 100%;
    font-weight: 800;
    text-align: center;
    letter-spacing: 15px;
    margin-top: 6%;
    font-size: 50px;
    font-family: 'Poppins', Arial, sans-serif;
}

.subtitle{
    font-weight: 700;
    text-align: center;
    letter-spacing: 5px;
    font-size: 24px;
    font-family: 'Poppins', Arial, sans-serif;
}

.centered{
    margin-left: auto;
    margin-right: auto;
}

#about{
    background-image: url(../img/about-background.jpg);
}

#about-picture{
    width: 270px;
    height: 270px;
    margin-top: 2%;
    background-image: url(../img/picture-of-myself.jpg);
    background-size: cover;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 50%;
}

#about-subtitle{
    width: 50%;
    margin-top: 3%;
}

#about-text{
    width: 65%;
    margin-top: 4%;
    text-align: center;
    font-size: 18px;
}

.more-info{
    width: 100%;
    text-align: center;
    margin-top: 45px;
}

.more-info a{
    width: 240px;
    font-weight: 400;
    display: block;
    color: black;
    padding: 7px 0px;
    margin-top: 5px;
    background-color: white;
    border-radius: 30px;
    -webkit-transition: background-color 0.6s;
    -moz-transition: background-color 0.6s;
    -o-transition: background-color 0.6s;
    -ms-transition: background-color 0.6s;
    transition: background-color 0.6s;
}

.more-info a:hover{
    background-color: rgb(168, 168, 168);
}

#experience{
    background-image: url(../img/experience-background.jpg);
    height: 195%;
}

#experience-content-wrapper{
    position: relative;
    width: 80%;
    height: 860px;
    top: 120px;
}

#experience-timeline-wrapper{
    height: 585px;
    width: 15px;
}

.circle{
    position: relative;
    top: -100%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
}

/* Applies bottom margin space to all circles but last one, creating a space between them. */
.circle:not(:last-child){
    margin-bottom: 270px;
}

.vertical-line{
    width: 4px;
    height: 100%;
    background-color: rgb(146, 146, 146);   
}

.experience-content{
    font-family: 'Poppins', Arial, sans-serif;
    position: relative;
    top: -68.5%;
    width: 46%;
    height: 285px;
}

.left{
    text-align: right;
}

.right{
    left: 54%;
    text-align: left;
}

.experience-details{
    display: block;
    width: 100%;
    padding: 5px 0px;
}

.job-date{
    font-size: 105%;
    font-weight: 700;
    padding: 0;
}

.job-title{
    font-size: 120%;
    color: rgb(206, 207, 212);
    font-weight: 700;
}

.job-location{
    color: rgb(212, 213, 219);
    font-weight: 600;
}

.job-description{
    font-family: 'Open Sans', Tahoma, sans-serif;
}

#skills{
    background-image: url(../img/skills-background.jpg);
    height: 160%;
}

#skills-subtitle{
    width: 60%;
    margin-top: 30px;
}

#projects{
    background-image: url(../img/projects-background.jpg);
    height: 110%;
}

#projects-subtitle{
    width: 50%;
    margin-top: 2%;
}

#download{
    background-image: url(../img/download-background.jpg);
    height: 200%;
}

#download-title{
    width: 60%;
}

#download-picture{
    background-image: url(../img/cv.png);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 500px;
    margin-top: 60px;
    margin-bottom: 40px;
}

#download-buttons{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    transition: 0.5s ease;
    opacity: 0;
}

#download-buttons a{
    font-family: 'Poppins', Arial, sans-serif;
    display: block;
    text-align: center;
    width: 230px;
    background-color: rgb(24, 57, 129);
    color: white;
    padding: 7px 0px;   
    border-radius: 30px;
    position: relative;
    top: 35%;
    left: 22%;
    -webkit-transition: background-color 0.6s;
    -moz-transition: background-color 0.6s;
    -o-transition: background-color 0.6s;
    -ms-transition: background-color 0.6s;
    transition: background-color 0.6s;
}

#download-buttons a:not(:last-child){
    margin-bottom: 25%;
}

#download-buttons a:hover{
    background-color: rgb(33, 52, 70);
}

#download-picture:hover #download-buttons{
    opacity: 1;
}

.separator{
    width: 55%;
    height: 4px;
    background-color: white;
    border: none;
    margin-top: 10%;
    margin-bottom: 5%;
}

#quote-wrapper{
    width: 55%;
    margin-top: 5%;
    text-align: center;
    font-size: 150%;
}

#quote{
    margin-bottom: 10%;
}

#contact{
    background-image: url(../img/contact-background.jpg);
    height: 105%;
}

footer{
    width: 100%;
    height: 12%;
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: white;
    text-align: center;
}

footer span{
    position: relative;
    display: block;
    font-size: 15px;
    top: 33%;
    color: black;
}

/*
    @media mediatype and (expressions){
        css...
    }

    mediatype - all, screen, print, speech

    expressions :
                    min-width
                    max-width
*/

/* smaller screens
@media screen and (max-width: 1090px){

} */



/* smartphone screens 
@media screen and (max-width){

}*/
/* TODO: menu sandwich */